body {
  background-image: url("https://www.catedraldesal.gov.co/SiteAssets/AssetsV2/img/img_home/sliders/NAVECENTRAL.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
